.container {
    display:grid;
    grid-template-columns: 100px 1fr;
}

.sidebar {
    background-color: blue;
}

.header {
    background-color: aqua;
}

.main-content {
    background:cornflowerblue;
}